._container-user-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  transition-property: all;
  transition-duration: 0.5s;
}

nz-select {
  min-width: 500px;
  box-shadow: 0 0 10px #00000021;
  transition-property: min-width;
  transition-duration: 0.5s;
}
